*{
	padding: 0;
	margin: 0;
	border: 0;
	color: rgb(255, 255, 255);
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
	background-repeat: repeat;
}
img{ 
	margin: 0; padding: 0;
}
ul {
	display: flex;
}
.main-logo{
	margin: 52px 0px;
}
.main-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 115px;
	/*align-items: center;*/
}
.dol{
	color: rgba(32, 145, 249, 1);
	border-radius: 35px;
	margin:0 12px 0 0 ;
}
.a{
	width: 141px;
	height: 54px;
	font-size: 16px;
}
.s{
	width: 273px;
	height: 54px;
	font-size: 14px;
	border-radius: 35px;
	padding: 19px 166px 19px 39px;
	margin: 0px 12px 0px 12px;
	color: rgb(0, 0, 0);
	
}
.item{
	margin: 0px 32px;
	font-size: 15px;
}
.about-company{
	text-align: center;
}
h1{	font-size: 22px;}
h3{	font-size: 55px;
margin: 17px 0px 27px 0px;}
h4{	font-size: 16px;
	margin: 0px 0px 90px 0px
}

.knopka{
	display: flex;
	justify-content: center;
	margin: 90px 0px;
	border-radius: 30px;
}
.d{
	width: 236px;
	height: 65px;	
	font-size: 22px;
	/*margin: 90px 0px 114px 0px;*/
}
.last{
	display: flex;

	justify-content: center;
}
.monitor{
		width:  860px;
	Height: 578px;
}


